@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-ExtraLight.otf") format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.otf") format("opentype");
    font-weight: bold;
}




* {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
}

body {
    font-family: Inter;
    font-weight: 500;
    color: #5E5E5E;
}

    .wrapper {
        display: flex;
        flex-direction: column;
    }

        header {
        }
            .header-content {
                display: flex;
                justify-content: center;
                height: 15vh;
                min-height: 100px;
                width: 100vw;
                align-content: center;
                flex-direction: column;
            }

                .header-wrapper {

                }
                    .main-h1-wrapper {
                        margin-bottom: 2px;
                    }

                        .main-h1-wrapper > h1 {
                            font-size: 52px;
                            margin-top: 5px;
                            font-weight: 500;
                            text-align: center;
                        }
                            .main-h1-wrapper > h1 > span {
                                border-radius: 20px;
                                background-color: #FFBFBF;
                            }

                    .header-wrapper > hr {
                        width: 70vw;
                        margin-left: 15vw;
                    }

                    .main-h2-wrapper {

                    }
                        .main-h2-wrapper > h2 {
                            font-size: 12px;
                            font-weight: 200;
                            text-align: center;
                            padding-left: 15vw;
                            padding-right: 15vw;
                        }

                            .main-h2-wrapper > h2 > span {
                                color: #FFBFBF;
                                font-weight: bold;
                            }

        main {

        }
            .main-content {
                height: 85vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }

            /** random stuff here **/
            .r-button-pressed {
                border-width: 5px;
                border-color: #FFBFBF;
                border-radius: 5px;
            }

            .validation-result {
                width: 50px;
                height: 50px;
            }
            .valid {
                background-color: green;
            }
            .invalid {
                background-color: red;
            }

                .main-content > * {
                    border-radius: 20px;
                    height: 40vh;
                    width: 90vw;
                    background-color: #F5F5F5;
                }

        footer {

        }
            .footer-content {
                height: 20vh;
                width: 100vw;
                background-color: #ABABAB;
            }


@media (min-width: 767px) {
    .main-content {
        flex-direction: row;
    }
    .main-content > * {
        border-radius: 20px;
        height: 70vh;
        width: 40vw;
    }

    .main-h2-wrapper > h2 {
        font-size: 16px;
    }
}
